<!DOCTYPE html>
<html>
  <head>
    <title>Заголовок документа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <svg width="88" height="18" viewBox="0 0 88 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.9375 17.8398C9.51172 17.8398 11.6211 15.7656 11.6211 12.2148V0.589844H2.21094V3.44922H8.28125V12.168C8.28125 13.8906 7.4375 14.8281 5.89062 14.8281C4.47266 14.8281 3.5 13.9023 3.46484 12.4844H0.253906C0.265625 15.7422 2.49219 17.8398 5.9375 17.8398ZM26.8203 14.6289H19.4961V10.2812H26.3867V7.62109H19.4961V3.46094H26.8203V0.589844H16.1562V17.5H26.8203V14.6289ZM33.6641 3.30859H36.0547C37.9297 3.30859 39.0312 4.31641 39.0312 5.99219C39.0312 7.70312 37.9062 8.72266 36.0195 8.72266H33.6641V3.30859ZM36.0781 11.2773L39.0547 17.5H42.8047L39.418 10.7266C41.2578 10 42.418 8.17188 42.418 5.98047C42.418 2.62891 40.168 0.589844 36.4883 0.589844H30.3477V17.5H33.6641V11.2773H36.0781ZM57.4297 10.3398V7.75C57.4297 3.05078 54.9805 0.25 50.9258 0.25C46.8711 0.25 44.4219 3.05078 44.4219 7.75V10.3398C44.4219 15.0391 46.8711 17.8398 50.9258 17.8398C54.9805 17.8398 57.4297 15.0391 57.4297 10.3398ZM50.9258 14.8867C48.8867 14.8867 47.8086 13.3516 47.8086 10.3047V7.78516C47.8086 4.73828 48.8867 3.20312 50.9258 3.20312C52.9648 3.20312 54.043 4.73828 54.043 7.78516V10.3047C54.043 13.3516 52.9648 14.8867 50.9258 14.8867ZM71.75 14.5586H64.3438V0.589844H61.0508V17.5H71.75V14.5586ZM74.5977 0.589844V17.5H80.0234C84.793 17.5 87.2305 14.5938 87.2305 8.92188C87.2305 3.44922 84.7578 0.589844 80.0234 0.589844H74.5977ZM77.9258 3.46094H79.5664C82.4492 3.46094 83.832 5.25391 83.832 8.98047C83.832 12.8711 82.4961 14.6289 79.5664 14.6289H77.9258V3.46094Z"
            fill="white"
          />
        </svg>
      </div>
      <form id="payment-form">
        <div id="payment-element"></div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
