<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        color: #ffffff;
        background: #000000;
      }

      .container {
        width: 100%;
        background: linear-gradient(224.89deg, #00f275 -40.75%, rgba(0, 207, 171, 0.38) 100%);
      }

      .wrapper {
        padding: 24px;
      }

      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.75),
          rgba(255, 252, 252, 0)
        );
      }
      .video {
        margin-bottom: 16px;
      }
      video {
        width: 100%;
      }
    </style>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="video">
          <video src="/videos/instruction.MP4" controls poster="/videos/poster-video.jpg" id="video"></video>
        </div>
        <b>Как использовать сигналы Jerolda?</b>
        <p>В рекомендациях Jerolda есть 3 параметра:</p>
        <ol>
          <li><b>Время</b> — указывает момент формирования актуального ценового уровня.</li>
          <li><b>Цена</b> — указывает котировку, при которой возможен импульс.</li>
          <li><b>Направление</b> — позволяет выбрать приоритетный стиль торговли.</li>
        </ol>
        <hr />
        <b>Какой стиль торговли можно применять к сигналам Jerolda?</b>
        <p>От ценовых уровней можно применять следующие стили торговли:</p>
        <ul>
          <li>Ложный пробой.</li>
          <li>Пробой уровня.</li>
          <li>Отбой от уровня.</li>
        </ul>
        <hr />
        <b>Сколько времени действует сигнал Jerolda?</b>
        <p>Если от ценового уровня рекомендации уже произошел импульс, то сигнал считается исполненным.</p>
        <hr />
        <b>Когда НЕЛЬЗЯ входить в сделку по сигналу Jerolda?</b>
        <p>
          Если рыночная цена инструмента сильно отклонилась от цены в сигнале, то такой ценовый уровень больше НЕ
          АКТУАЛЕН.
        </p>
        <hr />
        <b>Какой принцип формирования сигналов Jerolda?</b>
        <p>
          Уровни Jerolda – это локальные внутридневные и глобальные дневные уровни. При помощи сложных алгоритмов Jerold
          выбирает ближайший к цене уровень, на котором он определяет дисбаланс покупателей и продавцов, формируя
          соответствующий сигнал.
        </p>
        <hr />
        <b>Какой тип ордеров можно использовать в торговле по сигналам Jerolda?</b>
        <p>
          В торговле по сигналам допускается открытие лимитных или маркет- (рыночных) ордеров. Цена, указанная в
          сигналах, формируется по актуальной, рыночной цене.
        </p>
        <hr />
        <b>Можно ли в торговле использовать предыдущие уровни Jerolda, если поступил новый сигнал?</b>
        <p>
          Нет. Новый актуальный уровень сигнализирует об изменении состояния на рынке, поэтому предыдущие сигналы
          считаются не актуальными.
        </p>
        <hr />
        <b>Как понять, когда нужно входить в сделку по сигналу Jerolda?</b>
        <p>
          Алгоритмы Jerolda позволяют определить наиболее точную цену и направление для входа в сделку. Время входа
          зависит от стиля торговли, однако предпочтительнее открывать ордер по цене, максимально приближенной к цене,
          указанной в сигнале.
        </p>
        <hr />
        <b>Какие TakeProfit использовать при торговле по сигналам Jerolda?</b>
        <p>
          Потенциал хода от уровней Jerolda может быть продолжительностью от часа до нескольких дней. Оптимальный
          вариант заключается в том, чтобы фиксировать часть прибыли, а другую часть оставить на более продолжительный
          срок.
        </p>
      </div>
    </div>

    <script>
      let tg = window.Telegram.WebApp;

      tg.expand();
    </script>
  </body>
</html>
